.heading {
  background-color: bisque;
  font-size: large;
  border-radius: 5px;
}

.modalbg {
  border: 2px solid rgb(163, 163, 163);
  border-radius: 5px;
}

.policyId {
  background-color: #B8B5E8;
  padding: 5px;
  border-radius: 5px;
}